## IntelliJ IDEA
.idea/libraries/
.idea/shelf/
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/workspace.xml
*.iws
*.iml
*.ipr

## Linux
*~

## macOS
.DS_Store

## Maven
target/
dependency-reduced-pom.xml

## Windows
Thumbs.db
[Dd]esktop.ini
